.job-details-worker {
  width: 100%;
  min-width: 393px;
  min-height: 853px;
  position: relative;
}

.job-details-worker .employee-job-details {
  display: flex;
  flex-direction: column;
  width: 393px;
  height: 853px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f4ee;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 22px 60px #30272129;
}

.job-details-worker .container {
  display: flex;
  height: 26px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 18px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.job-details-worker .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.job-details-worker .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3d352f;
  font-size: 11px;
  letter-spacing: 0.06px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .div {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #3d352f;
  font-size: 11px;
  letter-spacing: 0.06px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .section {
  display: flex;
  flex-direction: column;
  width: 393px;
  height: 826px;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}

.job-details-worker .header {
  display: grid;
  grid-template-columns: 42px 277px 42px;
  grid-template-rows: 42px;
  height: 42px;
  background-color: transparent;
}

.job-details-worker .button {
  all: unset;
  box-sizing: border-box;
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: center;
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
}

.job-details-worker .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .bold-text {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: center;
  width: 100%;
  height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-details-worker .text-wrapper-3 {
  width: fit-content;
  font-weight: 700;
  color: #3d352f;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.23px;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  line-height: normal;
}

.job-details-worker .small {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  align-self: center;
  width: 100%;
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.job-details-worker .text-wrapper-4 {
  width: 42px;
  font-weight: 400;
  color: #8b7e74;
  font-size: 9px;
  text-align: right;
  letter-spacing: 0.17px;
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  line-height: normal;
}

.job-details-worker .container-margin-wrapper {
  display: flex;
  flex-direction: column;
  width: 370px;
  align-items: flex-start;
  padding: 5px 0px 12px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.job-details-worker .container-margin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.job-details-worker .section-2 {
  display: flex;
  flex-direction: column;
  height: 196px;
  align-items: flex-start;
  padding: 14px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #fffdf9;
  border-radius: 18px;
  border: 1px solid;
  border-color: #eadfd5;
  box-shadow: 0px 14px 34px #4a3a2e12;
}

.job-details-worker .container-2 {
  display: grid;
  grid-template-columns: 272.06px 50.94px;
  grid-template-rows: 29px;
  width: fit-content;
  height: fit-content;
  gap: 8px;
}

.job-details-worker .heading-margin {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  padding: 0px 0px 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-details-worker .heading {
  width: 272.06px;
  height: 21px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-details-worker .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3d352f;
  font-size: 18px;
  letter-spacing: -0.44px;
  line-height: normal;
}

.job-details-worker .frame {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  width: 70.94px;
  height: fit-content;
  gap: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-details-worker .text {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 999px;
}

.job-details-worker .text-wrapper-6 {
  position: absolute;
  top: -6px;
  left: -34px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #2f8f57;
  font-size: 12px;
  letter-spacing: 0.21px;
  line-height: normal;
}

.job-details-worker .container-wrapper {
  padding: 8px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.job-details-worker .container-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 49px;
}

.job-details-worker .text-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #faf6f1;
  border-radius: 8px;
}

.job-details-worker .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8b7e74;
  font-size: 9px;
  letter-spacing: 0.17px;
  line-height: normal;
}

.job-details-worker .text-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 7px;
  position: absolute;
  top: 0;
  left: 88px;
  background-color: #faf6f1;
  border-radius: 8px;
}

.job-details-worker .text-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 7px;
  position: absolute;
  top: 27px;
  left: 0;
  background-color: #faf6f1;
  border-radius: 8px;
}

.job-details-worker .paragraph {
  display: flex;
  flex-direction: column;
  width: 331px;
  height: 35px;
  align-items: flex-start;
  padding: 16px 0px 0px;
  position: relative;
}

.job-details-worker .do-the-hedge {
  position: relative;
  width: 323px;
  margin-top: -1px;
  margin-bottom: -18px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #3d352f;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: normal;
}

.job-details-worker .button-wrapper {
  display: flex;
  flex-direction: column;
  width: 128px;
  height: 70px;
  align-items: flex-start;
  padding: 10px;
  position: absolute;
  top: 320px;
  left: 237px;
  background-color: #fffdf9;
  border-radius: 18px;
  border: 1px solid;
  border-color: #eadfd5;
  box-shadow: 0px 14px 34px #4a3a2e12;
}

.job-details-worker .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 48px;
  background-color: #e3a01a;
  border-radius: 13px;
}

.job-details-worker .text-wrapper-8 {
  top: 14px;
  left: 15px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .container-4 {
  display: flex;
  flex-direction: column;
  width: 128px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 320px;
  left: 9px;
  background-color: #fffdf9;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid;
  border-color: #eadfd5;
  box-shadow: 0px 14px 34px #4a3a2e12;
}

.job-details-worker .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: 107px;
  height: 48px;
  background-color: #d9784f;
  border-radius: 13px;
}

.job-details-worker .text-wrapper-9 {
  top: 15px;
  left: 135px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .frame-2 {
  display: flex;
  flex-direction: column;
  width: 361px;
  align-items: flex-start;
  padding: 10px 5px;
  position: absolute;
  top: 523px;
  left: 16px;
  background-color: #fffdf9;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid;
  border-color: #eadfd5;
  box-shadow: 0px 14px 34px #4a3a2e12;
}

.job-details-worker .container-5 {
  display: flex;
  height: 50px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  border: 1px solid;
  border-color: #eadfd5;
}

.job-details-worker .container-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #eadfd5;
}

.job-details-worker .text-5 {
  display: flex;
  flex-direction: column;
  width: 88.66px;
  height: 13px;
  align-items: center;
  padding: 0px 0px 5px;
  position: relative;
}

.job-details-worker .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8b7e74;
  font-size: 7px;
  text-align: center;
  letter-spacing: 0.23px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .container-7 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 18px;
  margin-bottom: -3px;
}

.job-details-worker .text-wrapper-11 {
  position: absolute;
  top: 4px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3d352f;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.06px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .text-6 {
  display: flex;
  flex-direction: column;
  width: 88.67px;
  height: 13px;
  align-items: center;
  padding: 0px 0px 5px;
  position: relative;
}

.job-details-worker .container-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.job-details-worker .text-7 {
  display: flex;
  flex-direction: column;
  width: 89.66px;
  height: 13px;
  align-items: center;
  padding: 0px 0px 5px;
  position: relative;
}

.job-details-worker .text-wrapper-12 {
  position: absolute;
  top: 4px;
  left: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3d352f;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.06px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8b7e74;
  font-size: 16px;
  letter-spacing: -0.31px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .container-margin-2 {
  padding: 16px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.job-details-worker .label-wrapper {
  display: grid;
  grid-template-columns: 105px;
  grid-template-rows: 105px;
  height: fit-content;
  gap: 8px;
}

.job-details-worker .label {
  display: grid;
  grid-template-columns: 103px;
  grid-template-rows: 61.5px 41.5px;
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #d8c9bd;
}

.job-details-worker .text-8 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
  width: 23px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-details-worker .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8b7e74;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.26px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .small-2 {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
  width: 45.38px;
  height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-details-worker .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -0.31px;
  margin-right: -0.31px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8b7e74;
  font-size: 8px;
  text-align: center;
  letter-spacing: 0.21px;
  line-height: normal;
}

.job-details-worker .button-4 {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 765px;
  left: 22px;
  width: 361px;
  height: 48px;
  display: flex;
  background-color: #2f8f57;
  border-radius: 13px;
}

.job-details-worker .text-wrapper-15 {
  margin-top: 15px;
  width: 168px;
  height: 19px;
  margin-left: 96.8px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .text-wrapper-16 {
  position: absolute;
  top: 427px;
  left: 48px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .frame-3 {
  width: 361px;
  position: absolute;
  top: 285px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-details-worker .container-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fffdf9;
  border-radius: 18px;
  border: 1px solid;
  border-color: #eadfd5;
  box-shadow: 0px 14px 34px #4a3a2e12;
}

.job-details-worker .div-wrapper-2 {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-details-worker .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3d352f;
  font-size: 13px;
  letter-spacing: -0.08px;
  line-height: normal;
}

.job-details-worker .container-margin-3 {
  padding: 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.job-details-worker .container-10 {
  display: grid;
  grid-template-columns: 36px 239px 36px;
  grid-template-rows: 36px;
  height: fit-content;
  gap: 10px;
  padding: 10px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #eadfd5;
}

.job-details-worker .text-9 {
  display: grid;
  grid-template-columns: 36px;
  grid-template-rows: 36px;
  width: 36px;
  height: 36px;
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;
  background-color: #f0e6df;
  border-radius: 18px;
}

.job-details-worker .text-wrapper-18 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: center;
  align-self: center;
  width: 14px;
  height: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  color: #3d352f;
  font-size: 10px;
  letter-spacing: 0.12px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .text-10 {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: center;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}

.job-details-worker .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #3d352f;
  font-size: 10px;
  letter-spacing: 0.12px;
  line-height: normal;
  white-space: nowrap;
}

.job-details-worker .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8b7e74;
  font-size: 8px;
  letter-spacing: 0.21px;
  line-height: normal;
}

.job-details-worker .button-5 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: start;
  align-self: center;
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 6px;
  background-color: #f2fbf6;
  border-radius: 10px;
  border: 1px solid;
  border-color: #a8d7ba;
}

.job-details-worker .text-wrapper-21 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #2f8f57;
  font-size: 17px;
  text-align: center;
  letter-spacing: -0.43px;
  line-height: normal;
  white-space: nowrap;
}
